{% extends 'base.html' %}

{% block content %}
</br>
<div class="jumbotron jumbotron-fluid pb-4 pt-4 mb-2" style="background-color: #fff; box-shadow: 8px 8px 16px rgb(165 177 198 / 80%), -8px -8px 16px rgb(255 255 255 / 80%);">
    <div class="container">
      <div class="row">
        <div class="col-xl-8">
          <h1 class="display-4">{{bibliotecario.nombre}}</h1>
          <hr class="my-4">
          <p class="mb-1 "><i class="fas fa-envelope"></i><span class="text-muted f-w-400">  {{bibliotecario.email}}</span></p>
          <p class="mb-1"><i class="fas fa-id-card"></i><span class="text-muted f-w-400">  {{bibliotecario.cedula}}</span></p>
          <p class="mb-1"><i class="fas fa-building"></i><span class="text-muted f-w-400">  Campus {{bibliotecario.campus}}</span></p>
          <p class="mb-1"><i class="fas fa-users"></i></i><span class="text-muted f-w-400">  {{bibliotecario.puesto}}</span></p>
        </div>
        <div class="col-xl-4">
          <img class="img-thumbnail rounded-circle mx-auto d-block" style="box-shadow: 8px 8px 16px rgb(165 177 198 / 80%), -8px -8px 16px rgb(255 255 255 / 80%);" src="{{ avatars.robohash(hash_name) }}">
        </div>
      </div>
      <div class="row mb-3 mt-3">
        <div class="col-xl-3 col-sm-2">
          <div class="card bg-success text-white h-100">
            <div class="card-body bg-success">
              <h6 class="text-uppercase">Horas supervisadas    (30 días)</h6>
              <h1 class="display-4">{{horas_supervisadas}} <i class="fas fa-clock"></i></h1>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-2">
          <div class="card bg-info text-white h-100">
            <div class="card-body bg-info">
              <h6 class="text-uppercase">Estudiantes supervisados (30 días)</h6>
              <h1 class="display-4">{{estudiantes}} <i class="fas fa-user"></i></h1>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-2">
          <div class="d-grid gap-2">
            <a class="btn btn-primary btn-lg" href="{{url_for('update_bibliotecario')}}" role="button">Actualizar Perfil</a>
            <a class="btn btn-danger btn-lg" href="{{url_for('reset_password')}}" role="button">Cambiar Contraseña</a>
            <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#exampleModal"> Informe </button>
            
            <!-- Modal --> 
            <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Seleccione el Mes del Informe</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"></span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="{{url_for('informe')}}" method="POST">
                      <div class="form-group">
                        {{ form.hidden_tag() }}
                        {{ form.mes.label(class="form-label mt-3") }}
                        {{ form.mes(class="form-control") }}
                      </div>
                  </div>
                  <div class="modal-footer">
                    <div class="col d-grid gap-2">
                      <button type="submit" class="btn btn-primary">Buscar</button>
                    </div>
                    <div class="col d-grid gap-2">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Modalend --> 

          </div>
        </div>
      </div>
    </div>
</div>

<div class="row mt-5">
  <div class="col">
    <h3 class="h3 text-center text-uppercase">Actividades supervisadas en los últimos 30 días</h3>
    <table class="table" id="data">
      <thead>
        <th scope="col">Estudiante</th>
        <th scope="col">Actividad</th>
        <th scope="col">Fecha</th>
        <th scope="col">Horas</th>
      </thead>
      <tbody>
        {% for actividad in actividades %}
          <tr>
            <th>{{actividad.estudiante.nombre}}</th>
            <td>{{actividad.nombre_actividad}}</td>
            <td>{{actividad.fecha}}</td>
            <td>{{actividad.cantidad_de_horas}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#data').DataTable();
    });
  </script>
{% endblock %}