{% extends 'base.html' %}


{% block content %}

<div class="row d-flexd">
    <div class="col-3"></div>
    <div class="col-6 mt-5 center-block">
        <img src="{{ url_for('static', filename=img_path) }}" class="img-fluid" alt="Error 404">
        <center>
            <span class="badge bg-info m-3 " style="font-size: 2.5rem;">{{ type_error }} Error </span>
        </center>
        <h1 class="text-info text-center"> {{ title }} </h1>
        <p class="text-info text-center"> {{ message }} </p>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}
