{% extends 'base.html' %}

{% block content %}
<div class="row mt-4">
    <div class="col-sm-12">
        <h2>{{student.nombre}} <a href="{{url_for('estudiante', id=student.id)}}"><i class="fas fa-edit fa-1x"></i></a></h2>
    </div>
    <div class="col-sm-8  mt-3 card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0 text-muted"><strong>Cédula</strong></p>
                </div>
                <div class="col-sm-9 ">
                  <p class="text-muted mb-0">{{student.cedula}}</p>
                </div>
              </div>
              <hr>
            <div class="row">
                <div class="col-sm-3 text-muted">
                  <p class="mb-0"><strong>Email</strong></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{student.email}}</p>
                </div>
              </div>
              <hr>
            <div class="row">
                <div class="col-sm-3 text-muted">
                  <p class="mb-0"><strong>Facultad</strong></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{student.facultad}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3 text-muted">
                  <p class="mb-0"><strong>Carrera</strong></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{student.carrera}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3 text-muted">
                  <p class="mb-0"><strong>Teléfono</strong></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{student.phone}}</p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-sm-3 text-muted">
                  <p class="mb-0"><strong>Horas</strong></p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{student.total_horas}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4  mt-3 px-4">
        <h5 class="m-b-30 f-w-700"> Tiempo total trabajado</h5>
        <h1 class="text-success"> <i class="fas fa-business-time  text-muted"></i> {{horas_realizadas}} Horas</h1>  
        <p class="text-danger mb-4"><strong><span class="text-muted">Tiempo restante:</span> {{total_horas - horas_realizadas}} horas</strong></p>
        
        <div class="mb-4 progress blue">
            <div class="progress-bar" style="background:#1a4966; width:{{ (horas_realizadas / total_horas)*100 }}%;">
              <div class="progress-value">{{ ((horas_realizadas / total_horas)*100)|round() }}%</div>
            </div>
        </div>

        <br></br>
        <div class="d-grid gap-2">
            {% if horas_realizadas >= total_horas %}
                <a href="{{ url_for('crear_certificado', id=student.id) }}" class="btn btn-success btn-block text-white btn-lg" role="button" aria-disabled="true">Descargar Certificado</a>
            {% else %}
                <button class="btn btn-success btn-block text-white btn-lg" type="button" aria-disabled="true" disabled>Descargar Certificado</a>
            {% endif %}
        </div>
    </div>
</div>

<div class="row mt-5">
    <div class="col-sm-12">
        <h3 class="mb-4">Listado de actividades realizadas</h4>
    </div>
    <div class="col-sm-9">
        <table class="table table-striped" id="actividades">
                <thead class="thead">
                    <th scope="col">Fecha</th>
                    <th scope="col">Actividad</th>
                    <th scope="col">Horas</th>
                    <th scope="col">Bibliotecario</th>
                    <th scope="col">Acción</th>
                </thead>
                <tbody>
                    {% for actividad in actividades %}
                    <tr>
                        <th>{{actividad.fecha}} </br> {{actividad.hora_inicio}} {{actividad.hora_fin}} </th>
                        <td>{{actividad.nombre_actividad}}</td>
                        <td>{{actividad.cantidad_de_horas}}</td>
                        <td>{{actividad.bibliotecario.nombre}}</td>
                        <td><a href="{{ url_for('edit_activity', id_est=student.id, id_activity=actividad.id) }}"><i class="fas fa-edit"></i></a>
                            <a href="{{ url_for('remove_activity', id_est=student.id, id_activity=actividad.id) }}"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>    
                    {% endfor %}
                </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        {% if horas_realizadas < total_horas %}
            <div class="card">
                <div class="card-body">
                    <form action="{{ url_for('add_activity', id_est=student.id) }}" method="POST">
                            {{ form_actividades.hidden_tag() }}
                        <div class="form-group">
                            {{ form_actividades.nombre.label(class="form-label mt-3") }}
                            {{ form_actividades.nombre(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_actividades.fecha.label(class="form-label mt-3") }}
                            {{ form_actividades.fecha(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_actividades.hora_entrada.label(class="form-label mt-3") }}
                            {{ form_actividades.hora_entrada(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ form_actividades.hora_salida.label(class="form-label mt-3") }}
                            {{ form_actividades.hora_salida(class="form-control") }}
                        </div>
                        <div class="d-grid gap-20">
                            <button type="submit" class="btn btn-primary btn-block mt-3 ">Agregar Actividad</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        {% else %}
            <div></div>
        {% endif %}
</div>
{% endblock %}

{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#actividades').DataTable();
    });
  </script>
{% endblock %}